# Exclude build caches, configs, and IDE files
.git
.gitignore
.vscode
.idea
target
node_modules
logs
tmp
.env*
docker-compose*.yml

target/
!target/dependency-jars/
.mvn/wrapper/maven-wrapper.jar
*.log