<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>みんなの学習記録</title>
</head>
<body class="bg-light">
  <div class="container">
    <p th:text="${message}"></p>
    <div class="menu-link">
      <a th:href="@{/record}">学習記録一覧へ</a>
    </div>
    <div class="menu-link">
      <a th:href="@{/subject}">学習項目一覧へ</a>
    </div>
  </div>

  <div th:if="${recordList}" class="container center p-5">
    <h1>みんなの学習記録</h1>
    <table class="table table-striped">
      <tr>
        <th>id</th>
        <th>名前</th>
        <th>date</th>
        <th>学習項目</th>
        <!-- <th>start</th>
        <th>stop</th>
        <th>break</th> -->
        <th>学習時間（分）</th>
        <th>ポモドーロ数</th>
        <th>memo</th>
      </tr>
      <tr th:each="record:${recordList}">
        <td th:text="${record.id}"></td>
        <td th:text="${record.learningSubject.user.name}"></td>
        <td th:text="${record.learningSubject.name}"></td>
        <td th:text="${#temporals.format(record.date, 'yyyy/MM/dd')}"></td>
        <!-- <td th:text="${#temporals.format(record.startTime, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(record.stopTime, 'HH:mm')}"></td>
        <td th:text="${#temporals.format(record.breakTime, 'HH:mm')}"></td> -->
        <td th:text="${#temporals.format(record.sumTime, 'HH:mm')}"></td>
        <td><span th:text="${record.usesPomodoro== true ? __${record.pomodoro}__ :'－'}"></span></td>
        <td th:text="${record.memo}"></td>
      </tr>
    </table>
  </div>
</body>
</html>