<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>学習項目</title>
</head>
<body class="bg-light">
  <div class="container">
    <div class="create">
      <form th:action="@{/subject/create/form}" method="post">
        <button type="submit">新規追加</button>
      </form>
    </div>
    <div class="table">
      <table>
        <tr>
          <th>id</th>
          <th>ユーザー名</th>
          <th>項目名</th>
          <th>説明</th>
          <th>createdAt</th>
          <th>updatedAt</th>
          <th>EDIT</th>
          <th>DELETE</th>
        </tr>
        <tr th:each="subject:${subjectList}">
          <td th:text="${subject.id}"></td>
          <td th:text="${subject.user.name}"></td>
          <td th:text="${subject.name}"></td>
          <td th:text="${subject.description}"></td>
          <td th:text="${#temporals.format(subject.createdAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
          <td th:text="${#temporals.format(subject.updatedAt, 'yyyy/MM/dd HH:mm:ss')}"></td>
          <td>
            <form th:action="@{/subject/__${subject.id}__}" method="post">
              <button type="submit">編集</button>
            </form>
          </td>
          <td>
            <form th:action="@{/subject/__${subject.id}__/delete}" method="post">
              <button type="submit">削除</button>
            </form>
          </td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>