<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>学習記録登録フォーム</title>
  </head>
  <body>
    <form th:action="@{/}" method="post" th:object="${record}">
      <table>
        <tr>
          <th>id</th>
          <td>
            <span th:text ="*{id}"></span>
            <input type="hidden" th:field ="*{id}">
          </td>
        </tr>
        <tr>
          <th>user</th>
          <td>
            <span th:text="${userName}"></span>
          </td>
        </tr>
        <tr>
          <th>学習項目</th>
          <td>
            <select th:field="*{learningSubjectId}">
              <option
                th:each="subject : ${lSubject}"
                th:value="${subject.id}"
                th:text="${subject.name}"
                th:selected="${subject.id == selectedValue}">
              </option>
            </select>
            <button  type="submit" th:formaction="@{/subject/create/form}" class="btn btn-primary active">学習項目の新規登録</button>
            <div th:if="${#fields.hasErrors('learningSubjectId')}" th:errors="*{record.learningSubjectId}" th:errorclass="red"></div>
          </td>
        </tr>
        <tr>
          <th>日付</th>
          <td>
            <input type="date" id="date" name="date" th:value="${#temporals.format(today, 'yyyy-MM-dd')}">
          </td>
        </tr>
        <!-- <tr>
          <th>開始時間</th>
          <td>
              <input type="time" th:field="*{startTime}" id="startTime" class="time-input-group">
          </td>
        </tr>
        <tr>
          <th>終了時間</th>
          <td>
              <input type="time" th:field="*{stopTime}" id="stopTime" class="time-input-group">
          </td>
        </tr>
        <tr>
          <th>休憩時間</th>
          <td>
            <input type="time" id="breakTime" name="breakTime" value="00:00" class="time-input-group">
          </td>
        </tr>
        <tr> -->
          <th>学習時間（分）</th>
          <td>
            <input type="time" id="sumTime" name="sumTime" value="00:00" class="manual-input-group">
            <span id="timeToPomodoroNotice"></span>
          </td>
        </tr>
        <tr>
          <th>ポモドーロに換算</th>
          <td>
            <input type="checkbox" th:field="*{usesPomodoro}" id="usesPomodoro">
          </td>
        </tr>
        <tr>
          <th>ポモドーロ数</th>
          <td>
            <input type="number" 
              id="pomodoro" 
              placeholder="ポモドーロ数" 
              th:field="*{pomodoro}" 
              class="manual-input-group" 
              min="1" 
              step="1"
              oninput="this.value = this.value.replace(/[^1-9\d]/g, '');">
            <span id="pomodoroToTimeNotice"></span>
          </td>
        </tr>
        <tr>
          <th>メモ</th>
          <td>
            <input type="text" name ="memo" th:value="*{memo}">
            <div th:if="${#fields.hasErrors('memo')}" th:errors="*{memo}" th:errorclass="red"></div>
          </td>
        </tr>
        <tr>
          <th>記録をみんなに公開</th>
          <td>
            <input type="checkbox" th:field="*{isPublished}">
          </td>
        </tr>
      </table>
      <div class="button">
        <button type="button" id="resetButton" class="btn btn-warning">学習時間をリセット</button>
        <button type="submit" th:formaction="@{/record/create/do}" class="btn btn-primary active">登録</button>
      </div>
    </form>
    <script th:src="@{/js/record-calculator.js}"></script>
  </body>
</html>