<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>ユーザーホーム</title>
</head>
<body class="bg-light">
  <div class="container">
    <p th:text="${message}"></p>
    <div class="menu-link">
      <a th:href="@{/record}">学習記録一覧へ</a>
    </div>
    <div class="menu-link">
      <a th:href="@{/subject}">学習項目一覧へ</a>
    </div>
    <div class="menu-link">
      <a th:href="@{/everyone}">みんなの学習記録へ</a>
    </div>
  </div>

  <div class="container">
    <div class="table center p-5">
      <table>
        <tr>
          <th>id</th>
          <th>学習項目</th>
          <th>date</th>
          <th>start</th>
          <th>stop</th>
          <th>break</th>
          <th>sum</th>
          <th>pomo</th>
          <th>memo</th>
          <th>公開</th>
        </tr>
        <tr th:each="record:${recordList}">
          <td><a th:href="@{/record/__${record.id}__}" th:text="${record.id}"></a></td>
          <td th:text="${record.learningSubject.name}"></td>
          <td th:text="${#temporals.format(record.date, 'yyyy/MM/dd')}"></td>
          <td th:text="${#temporals.format(record.startTime, 'HH:mm')}"></td>
          <td th:text="${#temporals.format(record.stopTime, 'HH:mm')}"></td>
          <td th:text="${#temporals.format(record.breakTime, 'HH:mm')}"></td>
          <td th:text="${#temporals.format(record.sumTime, 'HH:mm')}"></td>
          <td><span th:text="${record.usesPomodoro== true ? __${record.pomodoro}__ :'－'}"></span></td>
          <td th:text="${record.memo}"></td>
          <td th:text="${record.isPublished== true ? '公開':'非公開'}"></td>
        </tr>
      </table>
    </div>
  </div>
</body>
</html>