<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/output.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <title>ユーザーホーム | The Pomo - 学習時間記録アプリ</title>
</head>
<script th:src="@{/js/menu.js}"></script>
<body class="bg-[#f1efec] text-[#123458]">
  <!-- Converted to Tailwind CSS -->
  <!-- Header Fragment -->
  <div th:replace="fragments/header :: header"></div>

  <!-- User Menu Bar Fragment -->
  <div th:replace="fragments/userMenu :: user-menu"></div>

  <div class="max-w-7xl mx-auto px-4 md:px-6 py-8 md:py-10 bg-[#f1efec]">
    <div id="calendar"></div>
  </div>

  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/index.global.min.js'></script>
  <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.19/locales-all.global.min.js'></script>
  <script th:inline="javascript">
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ ],
        customButtons: {
          newRecord: {
            text: '新規登録',
            click: function() {
              const url = /*[[@{/record/create/form}]]*/ '';
              window.location.href = url;
            }
          }
        },
        headerToolbar: {
          start: 'prev,today,next',
          center: 'title',
          end: 'dayGridMonth,listYear newRecord'
        },
        buttonText: {
            today: '今月',
            month: '月',
            list: '年間'
          },
        events: '/api/daily-records',
        locale: 'ja',
        selectable: true,
        businessHours: true,
        contentHeight: "auto",
        initialView: 'dayGridMonth'
      });
        calendar.render();
    });
  </script>
</body>
</html>

